/*            Desktop Media                */
/*                                         */
@media screen and (min-width: 841px){
    body {
      background-color: red;
         }
         body {
           font-size: 62.5%;
           font-face: "Adobe Caslon Pro", Georgia, serif;
           color: rgba(92, 165, 213, 1);
         }
         img {
           height: auto;
           max-width: 100%;
         }
}
/*            Tablet Media                 */
/*                                         */
@media screen and (min-width: 500px) and (max-width:840px){
    body {
      background-color: green;
         }
         body {
           font-size: 62.5%;
           font-face: "Adobe Caslon Pro", Georgia, serif;
           color: rgba(92, 165, 213, 1);
         }
         img {
           height: auto;
           max-width: 100%;
         }
}
/*            Phone Media                  */
/*                                         */
@media screen and (max-width: 499px){
    body {
      background-color: pink;
         }
         body {
           font-size: 62.5%;
           font-face: "Adobe Caslon Pro", Georgia, serif;
           color: rgba(92, 165, 213, 1);
         }
         img {
           height: auto;
           max-width: 100%;
         }
}

.container {
  max-width: 99%;
}

.sub-container {
  width: 33%;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
}
.img-box {
  height: auto;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
