/*            Desktop Media                */
/*                                         */
@media screen and (min-width: 841px){
    body {
      background-color: red;
         }
         body {
           font-size: 62.5%;
           font-face: "Adobe Caslon Pro", Georgia, serif;
           color: rgba(92, 165, 213, 1);
         }
         .container {
           max-width: 99%;
         }
         .container img {
           height: auto;
           width: 100%;
         }
         .roe-container,
         .shashimicont,
         .noodlescont {
           width: 30%;
           margin: 1%;
           display: inline-block;
           vertical-align: top;
           font-size: 1.5em;
           text-align: left;
         }
}
/*            Tablet Media                 */
/*                                         */
@media screen and (min-width: 500px) and (max-width:840px){
    body {
      background-color: green;
         }
         body {
           font-size: 62.5%;
           font-face: "Adobe Caslon Pro", Georgia, serif;
           color: rgba(92, 165, 213, 1);
         }
         .container {
           max-width: 99%;
         }
         img {
           height: auto;
           max-width: 100%;
         }
         img {
           height: auto;
           max-width: 100%;
         }
         .container img {
           height: auto;
           width: 100%;
         }
         .roe-container,
         .shashimicont,
         .noodlescont {
           width: 33%;
           margin: 1%;
           display: block;
           vertical-align: middle;
           font-size: 1.5em;
           text-align: center;
         }
}
/*            Phone Media                  */
/*                                         */
@media screen and (max-width: 499px){
    body {
      background-color: pink;
         }
         body {
           font-size: 62.5%;
           font-face: "Adobe Caslon Pro", Georgia, serif;
           color: rgba(92, 165, 213, 1);
         }
         .container {
           max-width: 99%;
         }
         img {
           height: auto;
           max-width: 100%;
         }
         .container img {
           height: auto;
           width: 100%;
         }
         .roe-container,
         .shashimicont,
         .noodlescont {
           width: 33%;
           margin: 1%;
           display: block;
           vertical-align: middle;
           font-size: 1.5em;
           text-align: center;
         }
}
