
body {
  font-size: 62.5%;
  font-face: "Adobe Caslon Pro", Georgia, serif;
  color: rgba(92, 165, 213, 1);
}

img {
  height: auto;
  max-width: 100%;
}
.container {
  height: auto;
  float: left;
}
.sub-container {
  width: 30%;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  float:left;
}
.img-box {
  height: auto;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
